<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="text-align: center;">Compañia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1 class="ion-text-center">Agregar Compania</h1>
  
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<ion-content class="ion-padding">
  <form [formGroup]="companiaForm" (ngSubmit)="agregarCompania()">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" formControlName="nombre" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="Email" formControlName="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Telefono</ion-label>
      <ion-input type="number" formControlName="telefono" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Direccion</ion-label>
      <ion-input type="text" formControlName="direccion" required></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit" color="primary">Enviar</ion-button>
  </form>
</ion-content>
</ion-content>