<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="goBack()">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title style="text-align: center;">Sorteo</ion-title>
    </ion-toolbar>
  </ion-header>
  
  
  <ion-content class="ion-padding">
    <h1 class="ion-text-center">{{ titulo | uppercase}}</h1>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <ion-content class="ion-padding">
    <form [formGroup]="loteryForm" (ngSubmit)="agregarSorteo()">
      <ion-item>
        <ion-label position="floating">Foto</ion-label>
        <ion-input type="text" formControlName="foto" required></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Titulo</ion-label>
        <ion-input type="text" formControlName="titulo" required></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input type="text" formControlName="nombre" required></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Fecha</ion-label>
        <ion-input type="date" formControlName="fecha" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Descripcion</ion-label>
        <ion-input type="text" formControlName="descripcion" required></ion-input>
      </ion-item>
  

      <ion-button expand="full" type="submit" color="primary">Enviar</ion-button>
    </form>
  </ion-content>
    
  </ion-content>