<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item style="text-align: center;">
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input type="email" #emailInput></ion-input>
    </ion-item>
    <ion-item style="text-align: center;">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" #passwordInput></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="full" (click)="navigateToPage1()">Iniciar Sesión</ion-button>
</ion-content>
