<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="text-align: center;">Comentarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-toolbar color="tertiary">
  <ion-title style="text-align: center;" >
    <ion-icon name="home" (click)="navigateToPage1()" class="icon"></ion-icon>
    <ion-icon name="people-circle-outline" (click)="navigateToPage4()" class="icon"></ion-icon>
    <ion-icon name="list" (click)="navigateToPage2()" class="icon"></ion-icon>
    <ion-icon name="business-outline" (click)="navigateToPage5()" class="icon"></ion-icon>
  </ion-title>
</ion-toolbar>

<ion-content class="ion-padding">

  <div class="ion-text-center">
    <h2>Lista de comentarios</h2>
    
 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Comentario</th>
          <th scope="col">Puntuación</th>
          <th scope="col"><button  class="btn btn-primary"  (click)="navigateToPage6()">Agregar</button></th> 
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let com of listComentario; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ com.comentario }}</td>
          <td>{{ com.puntuacion }}</td>
          <td>
            <button class="btn btn-warning"  [routerLink]="['/editar-comentario', com._id]">Editar</button>
            <button class="btn btn-danger" (click)="eliminarComentario(com._id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ion-content>
