<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="text-align: center;">Empleados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1 class="ion-text-center">{{ titulo | uppercase}}</h1>

  <form [formGroup]="empleadoForm"  (ngSubmit)="agregarEmpleado()">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" formControlName="nombre"required></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Apellido</ion-label>
      <ion-input type="text" formControlName="apellido" required></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Salario</ion-label>
      <ion-input type="number" formControlName="salario" required></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Direccion</ion-label>
      <ion-input type="text" formControlName="direccion" required></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Telefono</ion-label>
      <ion-input type="number" formControlName="telefono" required></ion-input>
    </ion-item>
    
    <ion-button expand="full" type="submit" color="primary">Enviar</ion-button>
  </form>
</ion-content>
