<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="text-align: center;">Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1 class="ion-text-center">{{ titulo | uppercase}}</h1>

  <form [formGroup]="productoForm" (ngSubmit)="agregarProducto()">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" formControlName="nombre" required></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Imagen</ion-label>
      <ion-input type="text" formControlName="imagen" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Precio</ion-label>
      <ion-input type="number" formControlName="precio" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Descuento</ion-label>
      <ion-input type="number" formControlName="descuento"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Precio Final</ion-label>
      <ion-input type="number" formControlName="precioFinal" required></ion-input>
    </ion-item>

    

    <ion-button expand="full" type="submit" color="primary">Enviar</ion-button>
  </form>
</ion-content>
