<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">Productos</ion-title>
  </ion-toolbar>
</ion-header>

<!-- barra de navegacion -->
<ion-toolbar color="tertiary">
  <ion-title style="text-align: center;">
    <ion-icon name="home" (click)="navigateToPage1()" class="icon"></ion-icon>
    <ion-icon name="people-circle-outline" (click)="navigateToPage4()" class="icon"></ion-icon>
    <ion-icon name="person-circle-outline" (click)="navigateToPage3()" class="icon"></ion-icon>
    <ion-icon name="cube" (click)="navigateToPage2()" class="icon"></ion-icon>
  </ion-title>
</ion-toolbar>


<ion-content class="ion-padding">

  <div class="ion-text-center">
    <h2>Lista de Productos</h2>
    <!-- Enlace a Bootstrap desde un CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Foto</th>
          <th scope="col">Nombre</th>
          <th scope="col">Precio</th>
          <th scope="col">Categoria</th>
          <th scope="col">Stock</th>
          <th scope="col">Descripción</th>
          <th scope="col">Acciones</th> <!-- Columna para acciones -->
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Foto</td>
          <td>Escoba de paja</td>
          <td>$23.000</td>
          <td>Escobas</td>
          <td>Si</td>
          <td>escoba de paja gran material y durabilidad</td>
          <td>
            <button class="btn btn-primary" (click)="verAdmin(admin)">Ver</button>
            <button class="btn btn-warning" (click)="editarAdmin(admin)">Editar</button>
            <button class="btn btn-danger" (click)="deshabilitarAdmin(admin)">Deshabilitar</button>
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Foto</td>
          <td>Escoba de paja</td>
          <td>$23.000</td>
          <td>Escobas</td>
          <td>Si</td>
          <td>escoba de paja gran material y durabilidad</td>
          <td>
            <button class="btn btn-primary" (click)="verAdmin(admin)">Ver</button>
            <button class="btn btn-warning" (click)="editarAdmin(admin)">Editar</button>
            <button class="btn btn-danger" (click)="deshabilitarAdmin(admin)">Deshabilitar</button>
          </td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Foto</td>
          <td>Escoba de paja</td>
          <td>$23.000</td>
          <td>Escobas</td>
          <td>Si</td>
          <td>escoba de paja gran material y durabilidad</td>
          <td>
            <button class="btn btn-primary" (click)="verAdmin(admin)">Ver</button>
            <button class="btn btn-warning" (click)="editarAdmin(admin)">Editar</button>
            <button class="btn btn-danger" (click)="deshabilitarAdmin(admin)">Deshabilitar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ion-content>
