<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="text-align: center;">Producto</ion-title>
  </ion-toolbar>
</ion-header>

<!-- barra de navegacion -->
<ion-toolbar color="tertiary">
  <ion-title style="text-align: center;">
    <ion-icon name="home" (click)="navigateToPage1()" class="icon"></ion-icon>
    <ion-icon name="people-circle-outline" (click)="navigateToPage4()" class="icon"></ion-icon>
    <ion-icon name="person-circle-outline" (click)="navigateToPage3()" class="icon"></ion-icon>
    <ion-icon name="business-outline" (click)="navigateToPage5()" class="icon"></ion-icon>
  </ion-title>
</ion-toolbar>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="auto" *ngFor="let col of ['Nombre', 'Precio', 'Acciones']">
        <strong>{{ col }}</strong>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let prod of listProductos">
      <ion-col size="auto">{{ prod.nombre }}</ion-col>
      <ion-col size="auto">{{ prod.precio }}</ion-col>
      <ion-col size="auto">
        <ion-button color="warning" [routerLink]="['/editar-product', prod._id]">Editar</ion-button>
        <ion-button color="danger" (click)="eliminarProducto(prod._id)">Eliminar</ion-button>
        <ion-button color="success" (click)="verDetalles2(prod._id)">Ver</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button expand="full" color="primary" class="fixed-button" (click)="navigateToPage6()">Agregar</ion-button>
</ion-content>