/* CSS personalizado para la tabla en el tema oscuro */
.ion-dark .table th {
    color: white; /* Títulos de columna en blanco en tema oscuro */
  }
  
  .ion-dark .table td {
    color: white; /* Texto en blanco en tema oscuro */
  }
  
  /* CSS personalizado para la tabla en el tema normal */
  .ion-light .table th {
    color: black; /* Títulos de columna en negro en tema normal */
  }
  
  .ion-light .table td {
    color: black; /* Texto en negro en tema normal */
  }
  