<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="text-align: center;">Administrador</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <h1 class="ion-text-center">{{ titulo | uppercase}}</h1>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<ion-content class="ion-padding">
  <form [formGroup]="adminForm" (ngSubmit)="agregarAdministrador()">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" formControlName="nombre"  required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Apellido</ion-label>
      <ion-input type="text" formControlName="apellido" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="Email" formControlName="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nombre de usuario</ion-label>
      <ion-input type="text" formControlName="usuario" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" formControlName="contrasenia" required></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit" color="primary">Enviar</ion-button>
  </form>
</ion-content>
  
</ion-content> -->