<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Users</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="inicio"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col sizeMd="4" offsetMd="4">
        <ion-list>
          <ion-item *ngFor="let character of characters" [routerLink]="['/profile/' + character.id]">
            <ion-avatar slot="start">
              <img src="{{character.image}}">
            </ion-avatar>
            <ion-label>{{character.name}}</ion-label>

          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content> -->

<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="d-flex justify-content-center align-items-center">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <form class="col-md-6">
    <div class="form-group">
      <label for="email">Correo Electrónico</label>
      <input type="email" class="form-control" id="email" [(ngModel)]="email">
    </div>
    <div class="form-group">
      <label for="password">Contraseña</label>
      <input type="password" class="form-control" id="password" [(ngModel)]="password">
    </div>
    <button type="button" class="btn btn-primary btn-block" (click)="navigateToPage1()">Iniciar Sesión</button>
  </form>
</ion-content>
